{% extends 'base.html.twig' %}

{% block title %}Créer un compte{% endblock %}

{% block css %}
    <script src="https://www.google.com/recaptcha/api.js"></script>
{% endblock %}


{% block body %}

    <div class="container-fluid">

        <div class="row">
            <h1 class="col-12 text-center my-5">Créer un compte</h1>
        </div>

        <div class="row">

            <div class="col-12 col-md-8 col-lg-4 mx-auto">

                {# Ouverture du formulaire #}
                {{ form_start( registrationForm ) }}


                {# Affichage des erreurs générales du site #}
                <div class="mb-3">
                    {{ form_errors( registrationForm ) }}
                </div>

                {# Affichage du champ email #}
                {{ form_row( registrationForm.email ) }}

                {# Affichage du champ mot de passe #}
                {{ form_row( registrationForm.plainPassword ) }}

                {# Affichage du champ pseudo  #}
                {{ form_row( registrationForm.pseudonym ) }}

                {# Affichage du Recaptcha de Google #}
                <div class="mb-3">
                    <div class="mb-2">Captcha de sécurité</div>
                    <div class="g-recaptcha" data-sitekey="{{ google_recaptcha_site_key }}"></div>
                </div>

                {# Affichage du bouton de validation #}
                {{ form_row(registrationForm.save) }}

                {# Fermeture du formualaire #}
                {{ form_end( registrationForm ) }}

            </div>

        </div>

    </div>

{% endblock %}
