<nav class="navbar navbar-expand-lg navbar-dark bg-black main-navbar">

    <div class="container-fluid">

        <a class="navbar-brand" href="{{ path('main_home') }}">
            {# TODO: Dynamiser nom du site #}
            <img src="{{ asset('images/embleme-batman.png') }}" alt="" class="img-fluid main-navbar-logo">Le Blog de Batman
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbarContent" aria-controls="mainNavbarContent" aria-expanded="false" aria-label="Afficher la navigation">
            <span class="navbar-toggler-icon"></span>
        </button>


        <div class="collapse navbar-collapse" id="mainNavbarContent">

            {# Boutons à gauche #}
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link{{ route == 'main_home' ? ' active' }}" href="{{ path('main_home') }}">
                        <i class="fa-solid fa-house"></i>
                        Accueil
                    </a>
                </li>
            </ul>

            {# Boutons à droite #}
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

                {# Boutons quand l'utilisateur est connecté #}
                {% if app.user %}

                    <li class="nav-item dropdown">

                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa-solid fa-user"></i>
                            {{ app.user.pseudonym }}
                        </a>

                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><hr class="dropdown-divider"></li>
                            <li>
                                <a class="dropdown-item" href="{{ path('app_logout') }}">
                                    <i class="fa-solid fa-right-from-bracket"></i>
                                    Déconnexion
                                </a>
                            </li>
                        </ul>
                    </li>

                    {# Boutons quand l'utilisateur n'est pas connecté #}
                {% else %}

                    <li class="nav-item">
                        <a class="nav-link{{ route == 'app_register' ? ' active' }}" href="{{ path('app_register') }}">
                            <i class="fa-solid fa-user-plus"></i>
                            Inscription
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link{{ route == 'app_login' ? ' active' }}" href="{{ path('app_login') }}">
                            <i class="fa-solid fa-right-to-bracket"></i>
                            Connexion
                        </a>
                    </li>

                {% endif %}

            </ul>

            {# Formulaire de recherche #}
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Trouver un article" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </form>

        </div>

    </div>

</nav>