{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

    <div class="container-fluid">

        <div class="row">
            <h1 class="col-12 text-center my-5">{{ site_name }}</h1>
        </div>

        <div class="row">
            <h2 class="text-center col-12 my-4">Lorem ipsum dolor sit amet.</h2>

            <p class="col-12 col-md-10 mx-auto text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus distinctio eaque enim error esse et ex excepturi inventore, ipsa ipsam itaque laudantium maxime mollitia nihil nisi odio omnis perferendis perspiciatis placeat praesentium quaerat quia quidem quisquam reprehenderit repudiandae sint unde?</p>

        </div>

        {#  affichage du bandeau avec l'image fixe #}
        <div class="row my-5 batman-cover"></div>

        {# affichage des derniers articles #}
        <div class="row">

            <div class="col-12 col-md-8 mx-auto">

                <div class="row">
                    <h2 class="col-12 text-center">Dernières publications</h2>
                </div>

                {% for article in articles %}
                    {# Un article #}
                    <div class="row">

                        <div class="col-12">

                            <div class="card my-3 bg-black">

                                <div class="card-header">
                                    <a href="{{ path('blog_publication_view', {'id': article.id, 'slug': article.slug}) }}" class="text-decoration-none">
                                        <i class="far fa-newspaper me-2"></i>
                                        {{ article.title }}
                                    </a>
                                </div>

                                <div class="card-body">

                                    <div class="mb-2">

                                        {{ article.content|striptags|excerpt(100) }}
                                        <a class="text-decoration-none" href="{{ path('blog_publication_view', {'id': article.id, 'slug': article.slug}) }}">Lire la suite</a>

                                    </div>

                                    <footer class="blockquote-footer my-2">Publié le <strong>{{ article.publicationDate|date('d/m/Y à H\\hi') }}</strong> par <strong>{{ article.author.pseudonym }}</strong></footer>

                                </div>

                            </div>

                        </div>

                    </div>
                {% else %}

                    <div class="row">
                        <p class="col-12 text-center alert alert-warning">Aucune publication à afficher</p>
                    </div>

                {% endfor %}

            </div>

        </div>

        <div class="row mb-5">

            <h2 class="col-12 col-md-10 mx-auto text-center mb-5">Lorem ipsum dolor sit amet, consectetur.</h2>

            <p class="col-12 col-md-10 mx-auto text-center mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto at atque aut blanditiis consequatur consequuntur cupiditate doloremque eligendi exercitationem expedita facere hic, illo ipsum iure, labore maiores minima obcaecati quasi quisquam reprehenderit ut veniam vitae.</p>

        </div>

    </div>

{% endblock %}
